<%= render @invoice %>

<div><%= link_to "PDF download", invoice_path(@invoice, format: :pdf) %></div>
<br />
<div>
  <%= link_to "Send to other emails", edit_invoice_path(@invoice) %> |
  <%= link_to "Back to invoices", invoices_path %>
</div>
