<strong>Access Token activated</strong><br />
<br />
<p>
  Hi <%= @user.email %>, your access token was activated, now you can use it to access our web app, or our API.
</p><br />
<p>Your access token is: <strong><%= @access_token.token %></strong></strong></p>
